:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #ff5555;
  --card-background: #f0f0f0;
  --btn-theme-background: #c3c2c2;
}

.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #e14444;
  --card-background: #3d3838;
  --btn-theme-background: #212020;
}
